<!DOCTYPE html>
<html>
<head>
  <title>Chest X-ray Classifier</title>
</head>
<body>
  <div style="display: flex; justify-content: center; align-items: center;">
    <h1>Upload a Chest X-ray</h1>
  </div>

    <form action="/" method="POST" enctype="multipart/form-data">
      <div style="display: flex; justify-content: center; align-items: center;">
        <input type="file" name="imagefile" required>
      </div>
      <div style="display: flex; justify-content: center; align-items: center;">
        <input type="submit" value="Predict">
      </div>
    </form>

  <div style="display: flex; justify-content: center; align-items: center;">
    {% if error %}
      <p style="color:red;">{{ error }}</p>
    {% endif %}
  </div>

    {% if filename %}
      <div style="display: flex; justify-content: center; align-items: center;">
          <img src="{{ url_for('send_image', filename=filename) }}" width="300">
      </div>
      <div style="display: flex; justify-content: center; align-items: center;">
          <h2>Prediction: {{ prediction }}</h2>
      </div>
    {% endif %}

</body>
</html>
